body {
	font-family: 'Open Sans', arial;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    display: block;
    clear: both;
}

/* Overridden Bootstrap Styles */
.btn, .form-control, .navbar-default, .navbar-inverse, .panel-group .panel, .panel, .dropdown-menu, .alert, .breadcrumb, .label { 
    border-radius: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse a.navbar-brand {
    color: #ffffff;
}

.navbar-inverse a.navbar-brand:hover {
    color: yellow;
}

p, ul li, ol li {
	line-height: 24px;
}